{% from "macros.html" import render_pagination %}
{% extends "base.html" %}
{% block title %}Przeglądaj dokumenty{% endblock %}
{% block body %}
<main>
    {% if documents.items|length > 0 %}
    <h1 class="mb-5 text-center">Lista dokumentów</h1>
        {% for document in documents.items %}
    <div class="align-items-center my-3 row">
        <div class="col-4 col-sm-4 col-md-2 col-lg-2">
            <span class="badge badge-pill badge-dark">{{ document.type.name }}</span>
        </div>
        <div class="col-8 col-sm-8 col-md-10 col-lg-5">
            {{ document.description }}
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-3 mr-auto">
            <span title="{{ document.filename }}">{{ document.filename|substr }}</span>
        </div>
        <div class="col-auto">
            <a href="#" title="Pobierz dokument">
                <button class="btn btn-dark">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </a>
        </div>
    </div>
        {% endfor %}
        {{ render_pagination(documents, 'home.list_documents') }}
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
{% endblock %}
