{% from "macros.html" import render_pagination %}
{% extends "base.html" %}
{% block title %}Przeglądaj dokumenty{% endblock %}
{% block body %}
<main>
    {% if documents.items|length > 0 %}
    <h3 class="mb-5 text-center">Lista dokumentów</h3>
    <ol>
        {% for document in documents.items %}
        <li">
                <span class="d-inline-block mb-1">{{ document.description }}</span><br />
                <a class="link-unstyled" href="{{ url_for('home.download_document', document_id=document.id) }}" title="Pobierz {{ document.filename }}">
                    <i class="fa fa-download mr-1" aria-hidden="true"></i>
                    <span class="small">{{ document.filename|substr }}</span>
                </a>
        </li>
        {% endfor %}
    </ol>
        {{ render_pagination(documents, 'home.list_documents') }}
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
{% endblock %}
