{% extends "base.html" %}
{% block title %}Szczegóły wydarzenia{% endblock %}
{% block body %}
<main>
    <h3 class="mb-5 text-center">Szczegóły posiedzenia</h3>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2"><strong class="text-dark">Nazwa:</strong></div>
        <div class="col">
        {{ meeting.signature }} Posiedzenie
        {% if meeting.board %}Rady {% endif %}
        {% if meeting.management %}Zarządu {% endif %}
        Izby z dnia {{ meeting.date|dateformat }}
        </div>
    </div>
    <div class="my-3 row">
        <div class="col-12 col-sm-12 col-md-2"><strong class="text-dark">Podsumowanie:</strong></div>
        <div class="col text-justify">
        {{ meeting.summary }}
        </div>
    </div>
    {% if documents|length > 0 %}
        {% for document in documents %}
    <div class="align-items-top my-3 row">
        <div class="col-12 col-lg-8 col-md-8 mb-3 mb-md-0 mr-md-auto">
            <div class="row">
                <div class="col-12">
                    <i aria-hidden="true" class="fa fa-2x fa-paperclip mr-1"></i><span title="{{ document.filename }}"> {{ document.filename|substr }}</span>
                    <a class="link-unstyled ml-3" href="{{ url_for('home.download_document', document_id=document.id) }}" title="Pobierz {{ document.filename }}">
                        <i class="fa fa-download mr-1" aria-hidden="true"></i>
                    </a>
                </div>
                {% if document.description %}
                <div class="col-12 mt-3 rounded small text-muted">
                    <span class="d-inline-block">
                        <strong>Opis: </strong>{{ document.description }}
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-6 col-md-auto mr-auto mr-md-0">
            <span class="badge badge-pill badge-dark" title="Typ i oznaczenie dokumentu">
                {{ document.type.name }}
                {% if document.type.signature_required %}
                    nr {{ document.signature }}
                {% endif %}
            </span>
        </div>
    </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-info">
        Do tego posiedzenia nie przypisano żadnych dokumentów.    
    </div>
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
{% endblock %}
