body {
  padding-top: 5em;
}

main>img {
    height: 25em;
    opacity: .5;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  text-decoration: inherit;
}


/* initially hide total progress bar */
#dw-progress {
  opacity: 0;
}

#dw-progress>div {
    width: 0;
}

/* initially hide delete button */
#dw-list .dw-delete {
  display: none;
}

/* hide start and calcel buttons after upload is finished */
#dw-list .dz-success .dw-start,
#dw-list .dz-success .dw-cancel {
  display: none;
}

/* show delete button after upload is finished */
#dw-list .dz-success .dw-delete {
  display: inline-block;
}


/*
    Third-party classes
*/
.form-group textarea {
    height: 10em;
}

.help-block {
    color: rgba(0,0,0,.5);
    margin-top: .25em;
}

.help-block:before {
    content: '\f06a';
    font-family: 'FontAwesome';
    margin-right: .5em;
}
