{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    Przypisz dokument
{% endblock %}
{% block body %}
<main>
    {% if assign_document %}
    <h3 class="mb-5 text-center">
        Przypisz dokument
    </h3>
    {% endif %}
    {% if edit_document %}
    <h1 class="mb-5 text-center">
        Edytuj przypisany dokument
    </h1>
    {% endif %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2"><strong class="text-dark">Nazwa:</strong></div>
        <div class="col">
            {{ meeting.signature }} Posiedzenie
            {% if meeting.board %}Rady {% endif %}
            {% if meeting.management %}Zarządu {% endif %}
            Izby z dnia {{ meeting.date|dateformat }}
        </div>
    </div>
    <div class="my-3 row">
        <div class="col-12 col-sm-12 col-md-2">
            <strong class="text-dark">Dokument:</strong>
        </div>
        <div class="col">
            {{ document }}
        </div>
    </div>
    {{ wtf.quick_form(form) }}
</main>
{% endblock %}
