{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    Przypisz dokument
{% endblock %}
{% block body %}
<main>
    <a class="badge badge-dark mb-3" href="{{ url_for('admin.edit_meeting', meeting_id=meeting.id) }}" title="Zamknij">
        <i class="fa fa-times" aria-hidden="true"></i>
        zamknij
    </a>
    <h1 class="mb-5 text-center">
        Przypisz dokument
    </h1>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-2">Wydarzenie:</div>
        <div class="col">
            {{ meeting.signature }} Posiedzenie
            {% if meeting.board %}Rady {% endif %}
            {% if meeting.management %}Zarządu {% endif %}
            Izby z dnia {{ meeting.date|dateformat }}
        </div>
    </div>
    <div class="my-3 row">
        <div class="col-12 col-sm-12 col-md-2">
            Dokument:
        </div>
        <div class="col">
            {{ document }}
        </div>
    </div>
    {{ wtf.quick_form(form) }}
</main>
{% endblock %}
