{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if edit_document %}Edytuj dokument{% endif %}
    {% if share_document %}Udostępnij dokument{% endif %}
{% endblock %}
{% block body %}
<main>
    {% if edit_document %}
    <h1 class="mb-5 text-center">
        Edytuj udostępniony dokument
    </h1>
    {% endif %}
    {% if share_document %}
    <h1 class="mb-5 text-center">
        Udostęnij dokument
    </h1>
    {% endif %}
    {{ wtf.quick_form(form) }}
</main>
{% endblock %}
