{% from "macros.html" import render_pagination %}
{% extends "base.html" %}
{% block title %}Zarządzaj posiedzeniami{% endblock %}
{% block body %}
<main>
    {% if meetings.items|length > 0 %}
    <h3 class="mb-5 text-center">Zarządzaj posiedzeniami</h3>
        {% for meeting in meetings.items %}
    <div class="my-3 row">
        <div class="col-5 col-sm-3 col-md-3 mb-3">
            {{ meeting.date|dateformat }}
        </div>
        <div class="col-7 col-sm-9 col-md-5 mb-3 mr-md-auto">
            {{ meeting.signature }} Posiedzenie
            {% if meeting.board %}Rady {% endif %}
            {% if meeting.management %}Zarządu {% endif %}
            Izby
        </div>
        <div class="col-6 col-md-auto mr-auto mr-md-0">
            <span class="badge badge-pill badge-info" title="Przypisane dokumenty"><i aria-hidden="true" class="fa fa-file-text-o mr-1"></i>{{ meeting.count }}</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-dark" href="{{ url_for('admin.edit_meeting', meeting_id=meeting.id) }}" title="Edytuj posiedzenie">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="btn btn-danger" href="{{ url_for('admin.delete_meeting', meeting_id=meeting.id) }}" title="Usuń posiedzenie">
                <i aria-hidden="true" class="fa fa-trash"></i>
            </a>
        </div>
    </div>
        {% endfor %}
        {{ render_pagination(meetings, 'admin.manage_meetings', filters) }}
    {% endif %}
</main>
{% endblock %}
{% block scripts %}
{% endblock %}
